<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rentomat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../static/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../static/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">

    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


<style type="text/css">
  .card {
    margin-bottom: 0px;
    
  }
  .card-header {
    background-color: #ff6600;
    color: white;
  }

  .rent_title {
    font-size: 25px;
  }

  .rent_txt {
    font-size: 20px;
  }
</style>

   
  </head>
  <body>


    <div class="wrapper">
      <section class="content">
      <div class="container-fluid">
          <form action="/submit_form">


        <div class="row">
            <div class="col-md-12 " style="margin-bottom: 20px;">
                <h1>Rental Details {{carId}}</h1>
            </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
          
              <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                      <tr class="card-header rent_title">
                      <td>
                         Rent From
                      </td>
                      <td>
                        Return Location
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="rent_txt">
                      <td>
                        Podgorica Airport (TGD)-Montenegro<br>
                        Podgorica, 81000, Montenegro
                      </td>
                      <td>
                        <div class="row">
                        <div class="col-sm-12">
                          <!-- select -->
                          <div class="form-group">
                            <select class="form-control" name="location">
                              {% for location in allLocations %}
                              <option value="{{location['id']}}">{{location['name']}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                      </td>
                    </tr>



                    <tr class="card-header rent_title">
                      <td>
                        Pick-Up Date & Time 
                      </td>
                      <td>
                        Return Date & Time  
                      </td>
                      <td>
                        Period  
                      </td>
                    </tr>
                    <tr class="rent_txt">
                      <td id="start_date_id">
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-12">

                           




                            <div class="input-group">



                                 <div class="input-group">
                                    <input autocomplete="off" type="text" id="inputId" class="form-control">
                                    <!--<span class="input-group-addon"><i class="fa fa-calendar"></i</span>-->
                                </div>


                                <!-- <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                    <input type="text" id="inputId" name="return_date" class="form-control datetimepicker-input" data-target="#reservationdatetime"/ autocomplete="off">
                                    <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div> -->





                            </div> 






                        </div>
                        </div>

                      </td>
                      <td id="days_num">
                        
                      </td>
                    </tr>


                    <tr class="card-header rent_title">
                      <td>
                        Selected Cars  
                      </td>
                      <td>
                        Price 
                      </td>
                      <td>
                        Total  
                      </td>
                    </tr>
                    <tr class="rent_txt">
                      <td>
                        {{carDetails['brand']}} {{carDetails['name']}}, {{carDetails['transmission']}}, {{carDetails['category']}}
                      </td>
                      <td>
                        € <span id="price_per_day">{{carDetails['price']}}</span>
                      </td>
                      <td>
                        € <span id="all_days_price">0.00</span>
                      </td>
                    </tr>




                     <tr class="card-header rent_title">
                      <td>
                        Insurance
 
                      </td>
                      <td>
                        
                      </td>
                      <td>
                           
                      </td>
                    </tr>
                    <tr class="rent_txt">
                      <td>
                        SCDW-Full Casco insurance without deposit
                        <br> <span id="insurance_id">Deposit: 600.00 EUR</span>
                      </td>
                      <td>
                    
                            <input type="checkbox" name="casco_checkbox" id="casco_checkbox"> € 12.00 
                      
                      </td>
                      <td id="casco_price">
                        € 0.00  
                      </td>
                    </tr>
                    <tr class="rent_txt">
                      <td>
                        TP-Tyres Protection. Required without credit card.
                      </td>
                      <td>
                        <input type="checkbox" name="tyres_checbox" id="tyres_checbox"> € 15
                      </td>
                      <td id="tyres_price">
                        € 0.00  
                      </td>
                    </tr>



                    <tr class="card-header rent_title">
                      <td>
                        Total 
                      </td>
                      <td>
                          
                      </td>
                      <td>
                       </td>
                    </tr>
                    <tr  class="rent_txt">
                      <td>
                        Grand Total:  
                      </td>
                      <td>
                       </td>
                      <td>
                        € <span id="grand_total">0.00</span>
                      </td>
                    </tr>
                    <tr  class="rent_txt">
                      <td>
                        Deposit:   
                      </td>
                      <td>
                       </td>
                      <td id="deposit_id">
                        € 600.00

                      </td>
                    </tr>




                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
          </div>

      

        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                <h1>User Details</h1>
            </div>
        </div>

     <div class="row">
        <!-- left column -->
        <div class="col-md-6"> 
         <div class="card card-primary">
              <div class="card-header" style="background-color: #ff6600 !important;">
                <h3 class="card-title rent_title">Search For Existing Customer Details
</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">



                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" id="userEmail" placeholder="Email Adress">
                    </div>
                  </div>

                  <!-- <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control">
                          <option value="" disabled selected hidden>Year Of Birth</option>
                          <option>option 1</option>
                          <option>option 2</option>
                          <option>option 3</option>
                          <option>option 4</option>
                          <option>option 5</option>
                        </select>
                      </div>
                  </div> -->

                  <div class="col-md-12">
                    <button type="button" id="fetxh_data" class="btn btn-primary">Fetch Details</button>
                  </div>



                </div>
             

            </div>
          </div>



           <div class="col-md-6"> 
            
            <!-- <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Change date, time & location</button>
                  </div> -->
            <div class="col-md-12 text-center" style="margin-top: 20px;">
                    <a href="/listaVozila" class="btn btn-primary">Change car</a>
                  </div>

            <!-- <div class="col-md-12 text-center" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary">Change rental options</button>
                  </div> -->
          </div>
        </div>



        <div class="row" style="margin-top: 20px;">
        <!-- left column -->
        <div class="col-md-12"> 
         <div class="card card-primary">
              <div class="card-header " style="background-color: #ff6600 !important;">
                <h3 class="card-title rent_title">Or Create A New Account</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

                <div class="card-body">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          First Name:*
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          Last Name:*
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          Date of Birth:*

                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                              <select class="form-control">
                                <option value="" disabled selected hidden>Year</option>
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                              </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                              <select class="form-control">
                                <option value="" disabled selected hidden>Month</option>
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                              </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                              <select class="form-control">
                                <option value="" disabled selected hidden>Day</option>
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                              </select>
                            </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          Address:
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          City:
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          Country:
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          Phone:
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          Email:*
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">

                        <div class="col-md-3">
                          Additional Comments:
                        </div>

                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Adress">
                          </div>
                        </div>

                      </div>
                    </div>




                  </div>

                 


                </div>
             

            </div>
          </div>


        </div>



        <div class="row">
            <div class="col-md-12"style="text-align: center;">
                <a href="/terms"></a>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked>
                    <label class="form-check-label">I agree with the terms & conditions*</label>
                  </div>
                </a> 
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </div>





      </form>
        
      </div>
    </section>
 

    </div>

  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.0/moment.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.js"></script>  
    

  
    <!-- AdminLTE for demo purposes -->

<!-- <script src="../static/plugins/jquery/jquery.min.js"></script>
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/plugins/jquery-ui/jquery-ui.min.js"></script> -->
<script>


$(document).ready(function(){   
  $.datetimepicker.setDateFormatter('moment');
  
  var currentDate = moment().format("MMMM D, YYYY H:mm");
  console.log(currentDate);

  $("#start_date_id").text(currentDate);

  let tomorrow  = moment().add(1,'days');

  
    $("#inputId").datetimepicker({
      onSelectTime:function(current_time,$input){

        var grand_total = parseFloat($("#grand_total").text());

        var old_all_day_price = parseFloat($("#all_days_price").text());


        var startDate = moment();
        var endDate = moment($input.val());

        var result = endDate.diff(startDate, 'days');

        //$('#result').html(result);


            console.log(result+1);

          if(result == 0) {
            day_string = " day";
          } else {
            day_string = " days";
          }



            var price_per_day = parseFloat($("#price_per_day").html());


            var all_day_price = (result+1)*price_per_day;

            $('#days_num').html((result+1)+day_string);
            $("#all_days_price").html(all_day_price);

            $("#grand_total").text(grand_total-old_all_day_price+all_day_price);
            
        },
        minDate : tomorrow,
        dateFormat: 'MMMM D, YYYY H:m',
        changeYear: true 
    }).attr('readonly', 'readonly');
    //$("#inputId").datetimepicker("setDate", currentDate);



    
    $('#casco_checkbox').change(function() {
        if(this.checked) {
          $("#casco_price").text("€ 12.00");
          $("#deposit_id").text("€ 0.00");
          var grand_total = parseFloat($("#grand_total").text());
          var total_price = (Math.round(parseFloat(grand_total+12.00) * 100) / 100).toFixed(2);
          $("#grand_total").text(total_price);

        } else {
          $("#casco_price").text("€ 0.00");
          $("#deposit_id").text("€ 600.00");
          var grand_total = parseFloat($("#grand_total").text());
          var total_price = (Math.round(parseFloat(grand_total-12.00) * 100) / 100).toFixed(2);
          $("#grand_total").text(total_price);
        }
    });



    $('#tyres_checbox').change(function() {
        if(this.checked) {
          $("#tyres_price").text("€ 15.00");
          var grand_total = parseFloat($("#grand_total").text());
          var total_price = (Math.round(parseFloat(grand_total+15.00) * 100) / 100).toFixed(2);
          $("#grand_total").text(total_price);

        } else {
          $("#tyres_price").text("€ 0.00");
          var grand_total = parseFloat($("#grand_total").text());

          var total_price = (Math.round(parseFloat(grand_total-15.00) * 100) / 100).toFixed(2);

          $("#grand_total").text(total_price);
        }
    });

    $("#fetxh_data").on("click", function() {
        var userEmail = $("#userEmail").val();
        console.log(userEmail);

     



        $.ajax({
            url: 'http://23.88.98.237:8069/api/auth/get_tokens?username=odoo@irvas.rs&password=irvasadm',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            headers: { 
              "Access-Control-Allow-Origin" : "*",
              "Access-Control-Allow-Methods" : "POST, GET, OPTIONS",
              "Access-Control-Allow-Headers" : "Content-Type, Authorization, X-Requested-With"
            },
            complete: function(result) {
                //called when complete
                alert(result.uid);
            },

            success: function(result) {
                //called when successful
                alert(result.uid);
            },

            error: function(result) {
                //called when there is an error
                alert(result.uid);
            },
        });


    });

    

    



});




</script>


 
  </body>
</html>

