<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>

<body>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<div style="">
  <p>&nbsp;</p>
  <p><img src="../static/images/qr_scan.jpg" width="412" height="293"></p>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="alert" style="">
  <h2><br>
  Očitajte TAG sa ključa</h2>
  <h2> Read TAG from Key </h2>
  <p>&nbsp;</p>
</div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <form name="form1" method="post" action="/preuzimanjeUgovor">
    <p>
      <label for="1"></label>
      <input name="pos" type="text" id="1" value="">
    </p>
    <p>
      <input type="submit" id="send" value="Submit">
    </p>
  </form>
  <a href="/">Sledeca stranica</a>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<div style="">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><img src="../static/images/logooo.png" width="350" height="82"></p>
</div>
</body>
</html>