<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Preuzmi ključ - skeniraj QR kod</title>
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
<style>
.outer {
  overflow: hidden;
  position: relative;
}
.inner {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -50px;
  top: 50px;
}
</style>

</head>

<body>
<p>&nbsp;</p>
  <div class="logo" style="">
    <p>&nbsp;</p>
    <p><img src="../static/images/logooo.png" alt="" width="350" height="82"></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
 <p>&nbsp;</p>
    <p>&nbsp;</p>
     <p>&nbsp;</p>
    <p>&nbsp;</p>
<div class="logo" style="">
  <p>&nbsp;</p>
    <p><img src="../static/images/qr_scan.jpg" alt="" width="534" height="579"></p>
</div>
<p>&nbsp;</p>
  <div class="alert" style="">
  <h2><br>
  Scan QR code</h2>
  <h2> Skeniraj QR kod</h2>
  <p>&nbsp;</p>
</div>





<form name="form1" method="post" action="/preuzimanjeHome">

  <div class="outer">
    <div class="inner">
      <input name="ugovor_link" type="text" id="ugovor_link" onblur="this.focus()" autofocus>
    </div>
  </div>

    
 
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>

<script>

</script>


</html>





