<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Preuzmi ključ - skeniraj QR kod</title>
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>

<body>
<p>&nbsp;</p>
  <div class="logo" style="">
    <p>&nbsp;</p>
    <p><img src="../static/images/logooo.png" alt="" width="350" height="82"></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
 <p>&nbsp;</p>
    <p>&nbsp;</p>
     <p>&nbsp;</p>
    <p>&nbsp;</p>
<div class="logo" style="">
  <p>&nbsp;</p>
    <p><img src="../static/images/qr_scan.jpg" alt="" width="534" height="579"></p>
</div>
<p>&nbsp;</p>
  <div class="alert" style="">
  <h2><br>
  Scan QR code</h2>
  <h2> Skeniraj QR kod</h2>
  <p>&nbsp;</p>
</div>



<form name="form1" method="post" action="/preuzimanjeUgovor">
  <p>
    <label for="1"></label>
    <input name="pos" type="text" id="1" value="">
  </p>
  <p>
    <input type="submit" id="send" value="Submit">
  </p>
</form>
<a href="/preuzimanjeKljuc"><button>Sledeca stranica</button></a>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>





