<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>

<body>
  <p>&nbsp;</p>
  <div class="logo" style="">
    <p>&nbsp;</p>
    <p><img src="../static/images/logooo.png" alt="" width="350" height="82"></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<p><img src="../static/images/Ugp.png" alt="" width="350"></p>
<p><img src="../static/images/arrow_se.jpg" alt="" width="350"></p>
<p>&nbsp;</p>
  <div class="alert" style="">
  <h2><br>
  Preuzmi potvrdu</h2>
  <h2> Take a confirmation</h2>
  <p>&nbsp;</p>
</div>
<p>&nbsp;</p>
  <p>&nbsp;</p>

  
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>