<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>

<body>
  <p>&nbsp;</p>
  <div class="logo" style="">
    <p>&nbsp;</p>
    <p><img src="../static/images/logooo.png" alt="" width="350" height="82"></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<p>&nbsp;</p>
  <div class="alert" style="">
  <h2><br>
  Obeleži stanje:</h2>
  <h2> Select the state:</h2>
  <p>&nbsp;</p>
</div>
<p>&nbsp;</p>
  <p>&nbsp;</p>

<a href="/vracanjeOcena?rfid={{ rfid_input }}&status=0">
<div class="btn" style="display:block; width:700px">
  <h2>&nbsp;</h2>
  <h2>Bez oštećenja / Bez kazni</h2>
  <h2> No damages / No penalties</h2>
  <p>&nbsp;</p>
</div>
</a>
<p>&nbsp;</p>
<p>&nbsp;</p>
<a href="/vracanjeOcena?rfid={{ rfid_input }}&status=1">
<div class="btn" style="display:block; width:700px">
  <h2>&nbsp;</h2>
  <h2>Oštećen / Napisana kazna</h2>
  <h2>Damaged / Penals</h2>
  <p>&nbsp;</p>
</div>
</a>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>