<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />


<style>
  #rfid {
    position: absolute;

  }

.outer {
  overflow: hidden;
  position: relative;
}
.inner {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -50px;
  top: 50px;
}
</style>



</head>

<body>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<div style="">
  <p>&nbsp;</p>
  <p><img src="../static/images/ocitajte-tag.png" width="412" height="293"></p>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="alert" style="">
  <h2><br>
  Očitajte TAG sa ključa</h2>
  <h2> Read TAG from Key </h2>
  <p>&nbsp;</p>
</div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <form action="/vracanjeHome" method="post">

    <div class="outer">
      <div class="inner">
        <input type="text" id="rfid" name="rfid" onblur="this.focus()" autofocus autocomplete="off">
      </div>
    </div>
    


  </form>



  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<div style="">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><img src="../static/images/logooo.png" width="350" height="82"></p>
</div>
</body>


<script>
$(document).ready(function(){
 $('#rfid').focus();
 
})




// window.onload = function() {
//   alert("juhuu");
// };



</script>
</html>