<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rentomat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../static/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../static/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">

    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


<style type="text/css">
  .error {
    color:red;
  }
  .card {
    margin-bottom: 0px;
    
  }
  .card-header {
    background-color: #ff6600;
    color: white;
  }

  .rent_title {
    font-size: 25px;
  }

  .rent_txt {
    font-size: 20px;
  }


  .row_custom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ccc;
    font-weight: bold;
  }

  .rfid_style {
    color: #ff6600 !important;
    font-size: 18px;
  }

</style>

   
  </head>
  <body>


    <div class="wrapper">
      <section class="content">
      <div class="container">


      



        <div class="row">
          <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
              <h1>Rentomat Details</h1>
          </div>
      </div>



      <div class="row" style="margin-top: 20px;">
        <!-- left column -->
        <div class="col-md-12"> 
         <div class="card card-primary">
              <div class="card-header " style="background-color: #ff6600 !important;">
                <h3 class="card-title rent_title">Rentomat ID: {{rent_data['rentomat_id']}}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

                <div class="card-body">

                  <div class="row row_custom">
                    <div class="col-md-12">
                      <div class="row">

                        <div class="col-md-3">
                          Rentomat location: 
                        </div>

                        <div class="col-md-9">
                         
                            {{rent_data['location_description']}}
                        </div>

                      </div>
                    </div>

                    
                </div>


                 
                <div class="row row_custom">
                    <div class="col-md-8">
                      <div class="row">

                        <div class="col-md-3">
                          Cleaning time: 
                        </div>

                        <div class="col-md-9">
                            {{rent_data['cleaning_time']}} hours
                        </div>

                      </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
  
                          <div class="col-md-6">
                            Last contract ID: 
                          </div>
  
                          <div class="col-md-6">
                              {{rent_data['last_contract_id']}}
                          </div>
  
                        </div>
                      </div>

                    






                  </div>

                 


                </div>
             

            </div>
          </div>








          <div class="col-md-12"> 
            <div class="card card-primary">
                 <div class="card-header " style="background-color: #ff6600 !important;">
                   <h3 class="card-title rent_title">Key Positions</h3>
                 </div>
                 <!-- /.card-header -->
                 <!-- form start -->
   
                   <div class="card-body">
   
                     <div class="row row_custom">
                       <div class="col-md-4">
                     
                        Position 1:
                    
                        <span class="rfid_style">{{rent_data['key_pos_1']}}</span>
                       </div>

                       <div class="col-md-4">
                     
                        Position 2:
                   
                        <span class="rfid_style">{{rent_data['key_pos_2']}}</span>
                       </div>

                       <div class="col-md-4">
                     
                        Position 3:
                
                        
                     
                        <span class="rfid_style">{{rent_data['key_pos_3']}}</span>
                       </div>

          
   
                   </div>
   
   
                    
                   <div class="row row_custom">
                    <div class="col-md-4">
                  
                     Position 4:
                 
                     <span class="rfid_style">{{rent_data['key_pos_4']}}</span>
                    </div>

                    <div class="col-md-4">
                  
                     Position 5:
                
                     <span class="rfid_style">{{rent_data['key_pos_5']}}</span>
                    </div>

                    <div class="col-md-4">
                  
                     Position 6:
             
                     
                  
                     <span class="rfid_style">{{rent_data['key_pos_6']}}</span>
                    </div>

       

                </div>



                <div class="row row_custom">
                    <div class="col-md-4">
                  
                     Position 7:
                 
                     <span class="rfid_style">{{rent_data['key_pos_7']}}</span>
                    </div>

                    <div class="col-md-4">
                  
                     Position 8:
                
                     <span class="rfid_style">{{rent_data['key_pos_8']}}</span>
                    </div>

                    <div class="col-md-4">
                  
                     Position 9:
             
                     
                  
                     <span class="rfid_style">{{rent_data['key_pos_9']}}</span>
                    </div>

       

                </div>




                <div class="row row_custom">
                    <div class="col-md-4">
                  
                     Position 10:
                 
                     <span class="rfid_style">{{rent_data['key_pos_10']}}</span>
                    </div>

                    <div class="col-md-4">
                  
                     Position 11:
                
                     <span class="rfid_style">{{rent_data['key_pos_11']}}</span>
                    </div>

                    <div class="col-md-4">
                  
                     Position 12:
             
                     
                  
                     <span class="rfid_style">{{rent_data['key_pos_12']}}</span>
                    </div>

       

                </div>
   
                    
   
   
                   </div>
                
   
               </div>
             </div>


        </div>














        
      </div>
    </section>
 

    </div>

  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.0/moment.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>  
    

  
    <!-- AdminLTE for demo purposes -->

<!-- <script src="../static/plugins/jquery/jquery.min.js"></script>
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/plugins/jquery-ui/jquery-ui.min.js"></script> -->
<script>


$(document).ready(function(){   
 
});

</script>


 
  </body>
</html>

